<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <ng-container *ngIf="!isAuthenticated">
      <li>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li>
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
    </ng-container>
    <li *ngIf="isAuthenticated">
      <a (click)="onLogout()" mat-button>Logout</a>
    </li>
  </ul>
</mat-toolbar>
